<!DOCTYPE html>
<html lang="pt-br" th:fragment="template (conteudo)">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>E-Diaristas</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">E-Diaristas</a>
    </div>
</nav>

<body>
    <main>
        <h1>Cadastro de Diaristas</h1>

            <form method="POST" th:object="${diaristas}">

                <div class="mb-3">
                    <label class="form-label" for="nomeCompleto">Nome Completo</label>
                    <input class="form-control" type="text" th:field="*{nomeCompleto}">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="cpf">CPF</label>
                    <input class="form-control" type="text" th:field="*{cpf}">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="email">E-mail</label>
                    <input class="form-control" type="email" th:field="*{email}">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="telefone">Telefone</label>
                    <input class="form-control" type="text" th:field="*{telefone}">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="logradouro">Logradouro</label>
                    <input class="form-control" type="text" th:field="*{logradouro}">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="numero">Número</label>
                    <input class="form-control" type="text" th:field="*{numero}">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="bairro">Bairro</label>
                    <input class="form-control" type="text" th:field="*{bairro}">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="complemento">Complemento</label>
                    <input class="form-control" type="text" th:field="*{complemento}">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="cep">CEP</label>
                    <input class="form-control" type="text" th:field="*{cep}">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="estado">Estado</label>
                    <input class="form-control" type="text" th:field="*{estado}">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="cidade">Cidade</label>
                    <input class="form-control" type="text" th:field="*{cidade}">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="codigoIbge">Código IBGE</label>
                    <input class="form-control" type="text" th:field="*{codigoIbge}">
                </div>


                <button class="btn btn-success" type="submit">Salvar</button>
            </form>

    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
